In [2]:
import h2o

In [3]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.261-b12, mixed mode)
  Starting server from C:\Users\minet\anaconda3\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\minet\AppData\Local\Temp\tmp8t7teqd7
  JVM stdout: C:\Users\minet\AppData\Local\Temp\tmp8t7teqd7\h2o_Paul_started_from_python.out
  JVM stderr: C:\Users\minet\AppData\Local\Temp\tmp8t7teqd7\h2o_Paul_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         04 secs
H2O_cluster_timezone:       America/Chicago
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.7
H2O_cluster_version_age:    13 days
H2O_cluster_name:           H2O_from_python_Paul_nhips5
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.547 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ---------------------------------------------------------

In [4]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [5]:
train, test = iris.split_frame([0.8])

In [6]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.1,0.1,
mean,5.8982758620689655,3.0474137931034475,3.896551724137931,1.2612068965517242,
maxs,7.9,4.2,6.9,2.5,
sigma,0.8376969212871875,0.4179580188813541,1.7625046917967901,0.7774844107732978,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,4.7,3.2,1.3,0.2,Iris-setosa
1,4.6,3.1,1.5,0.2,Iris-setosa
2,5.0,3.6,1.4,0.2,Iris-setosa
3,5.4,3.9,1.7,0.4,Iris-setosa
4,4.6,3.4,1.4,0.3,Iris-setosa
5,5.0,3.4,1.5,0.2,Iris-setosa
6,4.9,3.1,1.5,0.1,Iris-setosa
7,4.8,3.4,1.6,0.2,Iris-setosa
8,4.8,3.0,1.4,0.1,Iris-setosa
9,4.3,3.0,1.1,0.1,Iris-setosa

In [7]:
train.nrows

116

In [8]:
test.nrows

34

In [9]:
from h2o.automl import H2OAutoML

In [10]:
mA = H2OAutoML(max_runtime_secs = 30)
mA.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

AutoML progress: |
17:44:13.762: AutoML: XGBoost is not available; skipping it.

██████████
17:44:21.986: Skipping training of model GBM_5_AutoML_20200803_174413 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200803_174413.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 116.0.


██████████████████████████████████████████████| 100%

In [11]:
p = mA.leader.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [12]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999544,0.000456226,3.15205e-08
Iris-setosa,0.986946,0.0130537,3.30147e-07
Iris-setosa,0.983366,0.0166338,3.32804e-07
Iris-setosa,0.999769,0.000231227,2.4449e-08
Iris-setosa,0.999909,9.14386e-05,1.18636e-08
Iris-setosa,0.999965,3.48391e-05,1.37914e-08
Iris-setosa,0.999649,0.000351393,6.66615e-08
Iris-setosa,0.999895,0.000105356,5.87506e-09
Iris-setosa,0.996986,0.00301351,1.22997e-07
Iris-setosa,0.997612,0.00238814,2.71035e-07

In [13]:
mA.leader.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.06259712471628417
RMSE: 0.250194174025464
LogLoss: 0.20143179604179245
Mean Per-Class Error: 0.1126984126984127

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         13.0              1.0             0.0  0.071429  1 / 14
1          0.0             14.0             1.0  0.066667  1 / 15
2          0.0              1.0             4.0  0.200000   1 / 5
3         13.0             16.0             5.0  0.088235  3 / 34

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.911765
1  2   1.000000
2  3   1.000000