In [6]:
import h2o

In [7]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         32 mins 21 secs
H2O_cluster_timezone:       America/Chicago
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.7
H2O_cluster_version_age:    12 days
H2O_cluster_name:           H2O_from_python_Paul_uyqcqw
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.531 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ---------------------------------------------------------

In [8]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [9]:
train, test = iris.split_frame([0.8])

In [10]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.1,0.1,
mean,5.83606557377049,3.0459016393442626,3.7163934426229517,1.1680327868852465,
maxs,7.9,4.4,6.9,2.5,
sigma,0.833301268407175,0.43411304864695666,1.7422964164002837,0.7434859142588107,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.4,1.5,0.2,Iris-setosa
4,4.4,2.9,1.4,0.2,Iris-setosa
5,4.9,3.1,1.5,0.1,Iris-setosa
6,5.4,3.7,1.5,0.2,Iris-setosa
7,4.8,3.4,1.6,0.2,Iris-setosa
8,4.3,3.0,1.1,0.1,Iris-setosa
9,5.8,4.0,1.2,0.2,Iris-setosa

In [11]:
train.nrows

122

In [12]:
test.nrows

28

In [13]:
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [15]:
mDL = H2ODeepLearningEstimator()
mDL.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [16]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1596486950295_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,220 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00502297,0.00413717,0,-0.00256671,0.106709,0.482091,0.0140359
2,,3,200,Rectifier,0,0,0,0.0196118,0.0699116,0,-0.000516993,0.0700206,0.99842,0.00651146
3,,4,3,Softmax,,0,0,0.0148676,0.0836374,0,-0.0082656,0.401323,0.000766496,0.00232897

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.02961304699750414
RMSE: 0.1720844182298448
LogLoss: 0.09639163602107079
Mean Per-Class Error: 0.04504504504504505

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         41.0              0.0             0.0  0.000000   0 / 41
1          0.0             44.0             0.0  0.000000   0 / 44
2          0.0              5.0            32.0  0.135135   5 / 37
3         41.0             49.0            32.0  0.040984  5 / 122

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.959016
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-08-03 16:21:29,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-08-03 16:21:29,0.402 sec,739 obs/sec,1.0,1,122.0,0.504460,1.142089,0.601297,0.295082
2,,2020-08-03 16:21:29,0.649 sec,2997 obs/sec,10.0,10,1220.0,0.172084,0.096392,0.953604,0.040984

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_len             1.000000           1.000000    0.275829
1  petal_wid             0.976493           0.976493    0.269345
2  sepal_len             0.847479           0.847479    0.233759
3  sepal_wid             0.801464           0.801464    0.221067

In [17]:
p = mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [18]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999957,4.25843e-05,7.34816e-25
Iris-setosa,0.999979,2.11702e-05,2.93799e-25
Iris-setosa,0.999961,3.87709e-05,7.81307e-24
Iris-setosa,0.999979,2.05576e-05,3.34777e-24
Iris-setosa,0.999802,0.000198116,7.92943e-24
Iris-setosa,0.999994,5.96315e-06,3.18996e-26
Iris-setosa,0.999935,6.52065e-05,1.52024e-24
Iris-setosa,0.999761,0.000238863,9.56931e-23
Iris-setosa,0.999972,2.83059e-05,2.22071e-24
Iris-versicolor,0.000347021,0.999581,7.16128e-05

In [19]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.05179050469582319
RMSE: 0.22757527259309873
LogLoss: 0.13586573013062725
Mean Per-Class Error: 0.05128205128205129

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          9.0              0.0             0.0  0.000000   0 / 9
1          0.0              6.0             0.0  0.000000   0 / 6
2          0.0              2.0            11.0  0.153846  2 / 13
3          9.0              8.0            11.0  0.071429  2 / 28

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.928571
1  2   1.000000
2  3   1.000000