In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         7 hours 1 min
H2O_cluster_timezone:       America/Chicago
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.7
H2O_cluster_version_age:    13 days
H2O_cluster_name:           H2O_from_python_Paul_chj76n
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.254 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ---------------------------------------------------------

In [3]:
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [4]:
train, test = iris.split_frame([0.8])

In [5]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.2,1.1,0.1,
mean,5.905084745762713,3.083898305084746,3.8279661016949156,1.2254237288135585,
maxs,7.9,4.4,6.9,2.5,
sigma,0.842650220712114,0.44163068822651796,1.7566910227095818,0.7532478327561183,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,5.4,3.9,1.7,0.4,Iris-setosa
3,4.6,3.4,1.4,0.3,Iris-setosa
4,5.0,3.4,1.5,0.2,Iris-setosa
5,4.4,2.9,1.4,0.2,Iris-setosa
6,4.9,3.1,1.5,0.1,Iris-setosa
7,5.4,3.7,1.5,0.2,Iris-setosa
8,4.8,3.4,1.6,0.2,Iris-setosa
9,4.8,3.0,1.4,0.1,Iris-setosa

In [6]:
train.nrows

118

In [7]:
test.nrows

32

In [11]:
from h2o.estimators.naive_bayes import H2ONaiveBayesEstimator

In [13]:
mNB = H2ONaiveBayesEstimator()
mNB.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [14]:
mNB

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  NaiveBayes_model_python_1596552151253_1


Model Summary:

,,number_of_response_levels,min_apriori_probability,max_apriori_probability
0,,3.0,0.313559,0.364407

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.029806683496685814
RMSE: 0.17264612215942127
LogLoss: 0.09412054661819128
Mean Per-Class Error: 0.04127383197150639

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         38.0              0.0             0.0  0.000000   0 / 38
1          0.0             35.0             2.0  0.054054   2 / 37
2          0.0              3.0            40.0  0.069767   3 / 43
3         38.0             38.0            42.0  0.042373  5 / 118

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.957627
1  2   1.000000
2  3   1.000000

In [15]:
p = mNB.predict(test)

naivebayes prediction progress: |█████████████████████████████████████████| 100%

In [16]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,1,1.01956e-20,8.55188e-24
Iris-setosa,1,1.38971e-20,9.83008e-24
Iris-setosa,1,2.88648e-22,8.94601e-25
Iris-setosa,1,2.90675e-20,2.47165e-23
Iris-setosa,1,7.07437e-24,9.53988e-26
Iris-setosa,1,3.03071e-19,1.42557e-22
Iris-setosa,1,4.19489e-17,1.02456e-20
Iris-setosa,1,1.10846e-21,2.83924e-24
Iris-setosa,1,6.18988e-22,1.55705e-24
Iris-setosa,1,1.50551e-21,1.82578e-24

In [17]:
mNB.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.03857079845026475
RMSE: 0.19639449699588007
LogLoss: 0.1258201632320363
Mean Per-Class Error: 0.05128205128205129

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         12.0              0.0             0.0  0.000000  0 / 12
1          0.0             11.0             2.0  0.153846  2 / 13
2          0.0              0.0             7.0  0.000000   0 / 7
3         12.0             11.0             9.0  0.062500  2 / 32

Top-3 Hit Ratios:

   k  hit_ratio
0  1     0.9375
1  2     1.0000
2  3     1.0000

In [19]:
mNB_2 = H2ONaiveBayesEstimator(laplace = 2)
mNB_2.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [20]:
mNB_2.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.03848207384112361
RMSE: 0.19616848330229708
LogLoss: 0.12544101501878638
Mean Per-Class Error: 0.05128205128205129

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         12.0              0.0             0.0  0.000000  0 / 12
1          0.0             11.0             2.0  0.153846  2 / 13
2          0.0              0.0             7.0  0.000000   0 / 7
3         12.0             11.0             9.0  0.062500  2 / 32

Top-3 Hit Ratios:

   k  hit_ratio
0  1     0.9375
1  2     1.0000
2  3     1.0000